{% extends 'base.html' %}   
{% load static %}

{% block meta %}

{% endblock meta %}

{% block content %} 

<div style="text-align: center;
padding: 1%; padding-bottom: 3%;"><h1>Report Case</h1><br>
<h5>Tolong tuliskan pada halaman ini informasi yang dapat membantu kami menentukan langkah berikut yang
    kami harus lakukan untuk mengatasi masalah anda.</h5></div>
<div style= "margin: auto;
border: 2px solid black;
border-radius: 4px;
width: 75%;
padding: 20px">
<form method= "POST" action="{% url 'report:post' %}">
    {% csrf_token %}
    {{ form_report.as_p }}
    <div>
        <a href="{% url 'main:home' %}" style="text-decoration: none; color: #000000;"><button class="button cancel-button">Cancel</a>
        <button class="button submit-button">Submit</a>
    </div>
   
</form>
</div>



{% endblock content %}