{% extends 'base.html' %}
{% load static %}
<html>
{% block meta %}
<title>HOME</title>
{% endblock meta %}

{% block content %}

<div style="text-align: center;
padding: 1%;
color: #CAA3A4;">
<h1>Meet Our Team</h1></div>
<table style="color: #fff; width: 100%;font-size: 80%;padding-left: 20%; background-color: rgba(255, 176, 176, 0.5); text-align: center;"> 
  <tr >
      <td style="padding: 5%;">
        <h2>Alin</h2>
        <h6 class = 'desc'>Alina merupakan mahasiswi tingkat akhir jurusan ilmu komputer yang mengambil fokus studi artificial intelligence. Selain menjadi web developer di website Co-Feed, Alina juga berencana untuk mengembangkan fitur-fitur berbasis kecerdasan buatan yang membantu masyarakat dalam menghadapi COVID-19, misalnya fitur chatbot dan assesmen individu.
        </h6>
      </td>
      <td style="padding: 5%;">
        <h2>Salvian</h2>
        <h6 class = 'desc'>Salvian adalah mahasiswa fakultas ilmu komputer dengan spesialisasi sistem interaksi antara aplikasi dengan manusia. Di website Co-Feed, Salvian mendesain prototipe website agar enak dilihat dan tetap nyaman digunakan oleh pengguna. Salvian juga berperan penting dalam setiap desain grafis yang dapat disaksikan di website Co-Feed. 
        </h6>
      </td>
  </tr>
  <tr>
    <td style="padding: 5%;" >
      <h2>Rio</h2>
      <h6 class = 'desc'>Di website Co-Feed, Rio berperan sebagai data scientist yang bertugas mengelola data yang masuk dari pengguna. Data yang diterima nantinya akan diteruskan ke pihak instansi terkait sebagai langkah nyata dalam meminimalisir penyebaran virus corona. Data tersebut juga dapat dikembangkan bersama Waka dan Alina dalam pembuatan aplikasi berbasis kecerdasan buatan nantinya.
      </h6>
    </td>
    <td style="padding: 5%;">
      <h2>Waka</h2>
      <h6 class = 'desc'>Waka merupakan seorang mahasiswa pendidikan kedokteran yang berfokus pada evolusi dan pengembangan virus. Saat ini, Waka dipercayakan menjadi riset dan penyedia informasi mengenai virus corona di Website Co-Feed. Sistem asesmen yang dikembangkan bersama Alina mencakup kondisi kesehatan individu, rasio terpapar virus dan kemungkinan. </h6>
    </td>
  </tr>
  <br>
</table>
<div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>

<style>
@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
  background: #111;
}
.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
</style>
<script>
    // function([string1, string2],target id,[color1,color2])    
 consoleText(['Alina Dhifan Ajriya', 'Eyota Wakanda', 'Salvian Athallahrif Fadhil', 'Rio Fernando Alexander'], 'text',['tomato','rebeccapurple','lightblue']);

function consoleText(words, id, colors) {
  if (colors === undefined) colors = ['#fff'];
  var visible = true;
  var con = document.getElementById('console');
  var letterCount = 1;
  var x = 1;
  var waiting = false;
  var target = document.getElementById(id)
  target.setAttribute('style', 'color:' + colors[0])
  window.setInterval(function() {

    if (letterCount === 0 && waiting === false) {
      waiting = true;
      target.innerHTML = words[0].substring(0, letterCount)
      window.setTimeout(function() {
        var usedColor = colors.shift();
        colors.push(usedColor);
        var usedWord = words.shift();
        words.push(usedWord);
        x = 1;
        target.setAttribute('style', 'color:' + colors[0])
        letterCount += x;
        waiting = false;
      }, 1000)
    } else if (letterCount === words[0].length + 1 && waiting === false) {
      waiting = true;
      window.setTimeout(function() {
        x = -1;
        letterCount += x;
        waiting = false;
      }, 1000)
    } else if (waiting === false) {
      target.innerHTML = words[0].substring(0, letterCount)
      letterCount += x;
    }
  }, 120)
  window.setInterval(function() {
    if (visible === true) {
      con.className = 'console-underscore hidden'
      visible = false;

    } else {
      con.className = 'console-underscore'

      visible = true;
    }
  }, 400)
}
</script>
{% endblock content %}
</html>