{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>HOME</title>
{% endblock meta %}

{% block content %}
<div style="text-align: center;
padding: 1%;
color: black;">
<h1>Cases</h1></div>
{%for i in data %}
    <div style="margin: auto;
    border: 3px solid black;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    width: 75%;
    margin-top: 10px;
    padding: 20px;">
        <h2 style="text-decoration: underline;background-color: white; text-align: center;border-style: groove; border-radius: 10px;">{{i.case}}</h2>
        <p>{{i.detail}}<p>
        <p style="font-size: 12px;">oleh: {{i.name}}</P>
    </div>
    <br>
{% endfor %}


{% endblock content %}
