{% extends 'base.html' %}   
{% load static %}

{% block content %}

<div class="confirm" style="margin: 10%; text-align: center;">
    <h2>Masukan anda telah tersimpan</h2>
    <h4>Tolong click tombol berikut untuk kembali ke halaman utama</h4>
    <div>
        <a href="{% url 'main:home' %}" class="btn btn-primary" style="width: 100px; border-radius: 10px;">Home</a>
    </div>
</div>

<br>


{% endblock content %}