{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>CONTACT US</title>
{% endblock meta %}

{% block content %}

<div class= "contact-box">
    <a href="{% url 'services:home' %}" style="text-decoration: none;">Service</a>
    <a href="{% url 'report:home' %}" style="text-decoration: none;">Report Case</a>
    <a href="{% url 'feedback:home' %}" style="text-decoration: none;">Feedback</a>
</div>

{% endblock content %}